.spacer {
  flex: 1 1 auto;
}

img {
  max-height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.tab {
  margin: 0 30px;
  cursor: pointer;
}

mat-toolbar {
  box-shadow: 0 1px 12px #aaa;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  img {
    vertical-align: middle;
  }
}



