<h2 mat-dialog-title>Créer un événement</h2>
<mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field appearance="legacy">
      <mat-label>Titre</mat-label>
      <input matInput type="text" placeholder="Ajouter un titre" class="form-control" formControlName="title" required>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" class="form-control" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select" formControlName="subjectType" required>
        <mat-option *ngFor="let type of typeOptions" value="{{type.code}}">{{type.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle formControlName="record" required color="primary">
      Souhaitez-vous être filmé ?
    </mat-slide-toggle>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" type="submit" (click)="addEvent()" [disabled]="!eventForm.valid">Ajouter
  </button>
</mat-dialog-actions>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>


